
.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
 
  .hero-image {
    max-width: 400px;
    height: auto;
    border-radius: 120px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-flex;
    position: relative;
    left: 700px; 
    bottom: 300px;
  }

  @media (width <= 425px) {
    .image-container{
      margin-top: 5rem;
      width: 7rem;
      height: 5rem;
      margin-left: 1rem;
    }
  }